<div class="modal-header">
  <h4 class="modal-title">{{title}}
    <button
      type="button"
      class="btn model-header-close"
      onclick={{action "closeModal"}}
    >&times;</button></h4>
</div>