<nav class="navbar navbar-right">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="https://www.wakehealth.edu/" target="">Wake Forest Baptist Health</a></li>
      <li><a href="https://school.wakehealth.edu:443/" target="">School of Medicine</a></li>
      <li><a href="http://www.wakeforestinnovations.com" target="_blank" rel="noopener">Innovations</a></li>
      <li class="dropdown" style="position: relative">
        <a  id="explore-other" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          Explore Our System <span class="caret"></span>
        </a>
        <div aria-labelledby="explore-other" class="dropdown-menu">
          <ul>
            <li>
              <a href="https://www.brennerchildrens.org" target="_blank" rel="noopener">Brenner Children's Hospital</a>
            </li>
            <li>
              <a href="/Locations/Facilities/Comprehensive-Cancer-Center" target="">Comprehensive Cancer Center</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <span><b>Network Hospitals</b></span>
                <ul>
                  <li>
                    <a href="https://www.wakehealth.edu/Davie-Medical-Center/" target="_blank"  rel="noopener">Davie Medical Center</a>
                  </li>
                  <li>
                    <a href="/Locations/Hospitals/High-Point-Medical-Center" target="">High Point Medical Center</a>
                  </li>
                  <li>
                    <a href="https://lexington.wakehealth.edu" target="_blank" rel="noopener">Lexington Medical Center</a>
                  </li>
                  <li>
                    <a href="/Locations/Hospitals/Wilkes-Medical-Center" target="">Wilkes Medical Center</a>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>

